# Dépendances
node_modules
.venv

# Build
dist
dist-ssr

# Logs
logs
*.log
npm-debug.log*

# Fichiers locaux (.env.local, etc.)
*.local

# Éditeurs
.vscode/*
!.vscode/extensions.json

# Python
__pycache__/
*.py[cod]

# OS
.DS_Store

# Journaux d execution
logs/
